<div *ngIf="user !== undefined" class="userpage">
    <div class="user-header">
        <div class="user-image">
            <img [src]="userAvatar" class="avatar">
        </div>
        <div class="user-info">
            <p>{{user | json}}</p>
            <p *ngIf="subscriptionData">{{subscriptionData.subscribers}}</p>
            <p *ngIf="subscriptionData">{{subscriptionData.subscriptions}}</p>
            <div *ngIf="(currUser !== 0) && subscriptionData">
                <button *ngIf="!subscriptionData.isCurrUserSubscribed" mat-raised-button color="primary" (click)="subscribe()">Subscribe</button>
                <button *ngIf="subscriptionData.isCurrUserSubscribed" mat-raised-button color="primary" (click)="unsubscribe()">Unsubscribe</button>
            </div>
        </div>
    </div>
</div>
<button *ngIf="(currUser !== 0) && (user) && (currUser == user.id)" mat-raised-button color="primary" routerLink="/edituserinfo">Edit info</button>
<div class="posts">
    <p *ngFor="let post of posts">
        <app-post (onDelete)="delete($event)" [post]="post"></app-post>
    </p>
</div>
<div *ngIf="user === undefined" class="nosuchuser">
    <p>No such user</p>
</div>
