<p>registration works!</p>
<form #regForm = "ngForm" class = "reg-form" (ngSubmit) = "onClickSubmit(regForm.value)">
  <div class="container">
    <h1>Register</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>

    <label for="nickname"><b>Nickname</b></label>
    <input type="text" placeholder="Enter Nickname" name="nickname" ngModel required>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" ngModel required>

    <label for="firstname"><b>First name</b></label>
    <input type="text" placeholder="Enter firstname" name="firstname" ngModel required>

    <label for="lastname"><b>Last name</b></label>
    <input type="text" placeholder="Last name" name="lastname" ngModel required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" ngModel required>

    <label for="psw-repeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

    <hr>

    <!-- <label [bsConfig]="dpConfig">Enter your date of birth</label> -->
    <!-- <igx-date-picker (onSelection)="onCalendarValueSelect($event)"></igx-date-picker> -->
    
    <!-- <button type="button" class="btn btn-primary">Primary</button> -->
    <button type="submit" [disabled]="!regForm.valid" class="registerbtn">Register</button>
  </div>

  <div class="container signin">
    <p>Already have an account? <a href="#">Sign in</a>.</p>
  </div>
</form>
<button (click)="goBack()">Go back</button>
