<form #loginForm = "ngForm" class = "login-form" (ngSubmit) = "onClickSubmit(loginForm.value)">
    <div class="container">
      <h3>Log in</h3>
      <p>Please enter your nickname and password to log in</p>
      <hr>
  
        <mat-form-field class="example-full-width input-field">
          <input matInput placeholder="Login" [(ngModel)]="login" name="login" required>
        </mat-form-field>
      
        <mat-form-field class="example-full-width input-field">
          <input type="password" matInput placeholder="Password" [(ngModel)]="password" name="password" required>
        </mat-form-field>

        <button type="submit" [disabled]="!loginForm.valid" class="submit-btn" mat-raised-button color="primary">Submit</button>

        <div *ngIf="loginError == true" class="login-error">
          <p>Wrong login or password</p>
        </div>
    </div>
</form>
  