<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/photosquare?serverTimezone=UTC</property>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
      <mapping class="com.nc.backend.model.PostsEntity"/>
      <mapping class="com.nc.backend.model.CommentEntity"/>
      <mapping class="com.nc.backend.model.HashtagsEntity"/>
      <mapping class="com.nc.backend.model.LikedislikeEntity"/>
      <mapping class="com.nc.backend.model.PosthathtagsEntity"/>
      <mapping class="com.nc.backend.model.ReportsEntity"/>
      <mapping class="com.nc.backend.model.UserEntity"/>
      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>