<div class="navbar">
  <div>
    <a routerLink="/main" class="navbar-link">Photosquare</a>
    <a routerLink="/feed" class="navbar-link">Feed</a>
    <a routerLink="/hashtag" class="navbar-link">Search</a>
    <a *ngIf="!currUser" routerLink="/login" class="navbar-link">Login</a>
    <a *ngIf="!currUser" routerLink="/registration" class="navbar-link">Registration</a>
    <a *ngIf="currUser" routerLink="{{currUserUrl}}" class="navbar-link">My account</a>
    <a *ngIf="currUser" routerLink="/myfeed" class="navbar-link">My feed</a>
    <a *ngIf="currUser && currUser.role == 'Admin'" routerLink="/reports" class="navbar-link">Reports</a>
    <a *ngIf="currUser && currUser.role == 'Admin'" routerLink="/allusers" class="navbar-link">All users</a>
<!--    <a *ngIf="currUser && currUser.role == 'Admin'" routerLink='/staticstic' class="navbar-link">Statistics</a>-->
  </div>
  <p *ngIf="currUser" (click)="logOut()" class="navbar-link">Log out</p>
</div>
