<div class="image-editor-container">
  <div class="filters-container">
    <div class="filter" *ngFor="let filter of filters; let i = index" (click)="applyFilter(i)">
      {{filter.name}}
    </div>
  </div>
  <div class="additional-container">
    <div class="canvas-container" [id]="'canvas-container-' + index">
      <canvas [id]="'canvas-' + index" #canvasElement class="canvas" height="750">
      </canvas>
    </div>
  </div>
  <div class="masks-container">
    <div class="mask-image-container" *ngFor="let url of maskURLs; let i = index" (click)="addMaskToPicture(i)">
      <img [src]="url">
    </div>
  </div>
  <div class="remove-button-container" (click)="removeCurrentObj()">
    Remove current object
<!--    <button mat-button (click)="removeCurrentObj()">Delete current object</button>-->
  </div>
  <div class="save-button-container">
    <button mat-button (click)="save()">Save</button>
  </div>
</div>
