<form #addPostForm = "ngForm" class = "addPost-form" (ngSubmit) = "onClickSubmit(addPostForm.value)">
    <div class="container">
      <h3>Add post</h3>
      <hr>
  
      <div class="form-group">
        <label for="file">Choose File</label>
        <input type="file"
               id="file"
               (change)="handleFileInput($event.target.files)" multiple>
    </div>
      
      <label for="description"><b>Description</b></label>
      <input type="text" placeholder="Enter description" name="description" ngModel required>
      
      <button type="submit" [disabled]="!addPostForm.valid" class="addpostbtn">Add</button>
    </div>
  
  </form>
  
